.back {
  position: absolute;
  color: white;
  text-decoration: none;
  background: red;
  padding: 5px 10px;
  top: 10px;
  left: 10px;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.label {
  color: white;
  font-weight: bold;
}
.input {
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.submit {
  background: red;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border: none;
}
.linkLogin {
  color: white;
  text-decoration: none;
}
