.form {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  position: relative;
  padding: 20px 10px;
}
.input {
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
}
.submit {
  position: absolute;
  padding: 5px 10px;
  right: 20px;
  bottom: -15px;
}
